# Server Configuration for local development
PORT = "YOUR_SERVER_PORT"
SERVER_URL = "YOUR_SERVER_URL"

# Client Configuration for Development and Production
CLIENT_URL = "YOUR_CLIENT_URL" 

# Database Configuration if you are using only mysql
DB_HOST = "YOUR_DB_HOST" 
DB_USER = "YOUR_DB_USER"
DB_PASSWORD = "YOUR_DB_PASSWORD" 
DB_NAME = "YOUR_DB_NAME" 


# Secret Key
JWT_ACCESS_TOKEN_SECRET = "YOUR_JWT_ACCESS_TOKEN_SECRET" 
JWT_REFRESH_TOKEN_SECRET = "YOUR_JWT_REFRESH_TOKEN_SECRET"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Database Configuration if you are using mysql and prisma orm
DATABASE_URL= "mysql://YOUR_DB_USER:YOUR_DB_PASSWORD@YOUR_DB_HOST:3306/YOUR_DB_NAME"

BUCKET_NAME = "YOUR_BUCKET_NAME"
BUCKET_REGION = "YOUR_BUCKET_REGION"
ACCESS_KEY = "YOUR_ACCESS_KEY"
SECRET_ACCESS_KEY = "YOUR_SECRET_ACCESS_KEY"

CLOUDFRONT_PRIVATE_KEY = "YOUR_CLOUD_FRONT_PRIVATE_KEY"
CLOUDFRONT_KEY_PAIR_ID = "YOUR_CLOUD_FRONT_KEY_PAIR_ID"

# Node Mailer Configuration
NODE_MAILER_EMAIL = "YOUR_NODE_MAILER_EMAIL"
NODE_MAILER_PASSWORD = "YOUR_NODE_MAILER_PASSWORD"